<meta name="viewport" content="width=device-width, initial-scale=1.0">
<center><h1><font color="orange"> Home Page</font></h1>
    <a href="{% url 'attdc:index'  %}"><h3>Mark Attendance</h3></a>
    <a href="{% url 'admin:index' %}"><h3>Go to Admin Page</h3></a>
    <a href="{% url 'attdc:get_batch' %}"><h3>Upload Students List</h3></a>
    <a href="{% url 'attdc:get_batch1' %}"><h3>Get Final Attendance Data</h3></a>
    <a href="{% url 'attdc:get_batch2' %}"><h3>Get Todays' Attendance Data</h3></a>
</center>
